{% extends 'base.html' %}
{% block container %}

{% if tours %}
<h1 class="display-5 mt-4">Летим <span data-test="from">{{ departures.get(city) }}</span></h1>
<p class="mb-4" >Туров найдено: <span data-test="tourcount">{{ tours|length }}</span>; от <span data-test="pricemin">{{ prices|min }} ₽</span> до <span data-test="pricemax">{{ prices|max }} ₽</span> и от <span data-test="nightsmin">{{ nights|min }}</span> ночей до <span data-test="nightsmax">{{ nights|max }}</span> ночей</p>
<div class="row mt-5" data-test="cards">

    {% for tour_id, tour in tours %}

    <div class="col-4" data-test="card">
        <div class="card mb-3" >
            <img src="{{ tour.picture }}" class="card-img-top img-fluid" data-test="picture">
            <div class="card-body">
                <h5 class="card-title">{{ tour.country }}: {{ tour.title }} {{ tour.stars }}★</h5>
                <p class="card-text">{{ tour.description|truncate(100, True) }}</p>
                <p class="card-text"><b>{{ tour.date }}, {{ tour.nights }} ночей, {{ tour.price }} ₽</b></p>
                <a href="/tours/{{ tour_id }}" class="btn btn-sm btn-secondary" data-test="tourlink">Подробнее</a>
            </div>
        </div>
    </div>

    {% endfor %}

</div>

{% else %}

<h1 class="display-5 mt-4">Кажется, <span data-test="from">{{ departures.get(city) }} не улететь 😢</span></h1>
<h3>Сожалеем об этом.</h3>

{% endif %}

{% endblock %}