{% extends 'base.html' %}
{% block container %}

<div class="jumbotron text-center mt-4">
      <h1 class="display-4">Всякие туры</h1>
      <p class="lead">{{ subtitle }}</p>
      <p class="mt-5 w-50 mx-auto">{{ description }}</p>
</div>

    <div class="row mt-5" data-test="cards">

        {% for tour_id in tours_id %}

        <div class="col-4" data-test="card">
            <div class="card mb-3" >
            <img src="{{ tours[tour_id].picture }}" class="card-img-top img-fluid" data-test="picture">
                <div class="card-body">
                    <h5 class="card-title">{{ tours[tour_id].country }}: {{ tours[tour_id].title }} {{ tours[tour_id].stars }}★</h5>
                    <p class="card-text">{{ tours[tour_id].description|truncate(100, True) }}</p>
                    <p class="card-text"><b>{{ tours[tour_id].date }}, {{ tours[tour_id].nights }} ночей, {{ tours[tour_id].price }} ₽</b></p>
                    <a href="/tours/{{ tour_id }}" class="btn btn-sm btn-secondary" data-test="tourlink">Подробнее</a>
                </div>
            </div>
        </div>

        {% endfor %}

    </div>

{% endblock %}